@import '_variable';

@mixin liftUp($height:high){
  @if $height == high{
    box-shadow: 1px 2px 5px 2px black;
  }@else if $height == higher{
    box-shadow: 2px 4px 10px 2px black;
  }@else if $height == highest{
  box-shadow: 4px 8px 30px 2px black;
}
}

body{
  font-family: $fonts-text;
  background-color: $asphalt;
  color: $clouds;
  font-size: $text-font-size;
}
h1, h2, h3, h4, h5, h6{
  font-family: $font-headings;
}
.shape{
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: $text-font-size;
  // background-color: red;
  background-color: lighten($asphalt, 30%);
  border: 1px solid lighten($asphalt, 26%);
}

.shape1{
  @extend .shape;
  @include liftUp(high);
}

.shape2{
  @extend .shape;
  @include liftUp(higher);
}

.shape3{
  @extend .shape;
  @include liftUp(highest);
}
